<section class="p-5">
    <div class="loading v-100" *ngIf="loadingFlag">
        <i class="fa-solid fa-spinner fa-spin-pulse text-white load"></i>

    </div>
    <div class="container">
        <div class="row g-3">
            <div class="col-lg-3" *ngFor="let meal of MenuBox">
                <a [routerLink]="['/mealdetails', meal.idMeal]">
                    <div class="items">
                        <div class="layer">
                            <h2>{{meal.strMeal}}</h2>
                        </div>
                        <img [src]="meal.strMealThumb" class='w-100' alt="Meal Images">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>