.youtube
{
    background-color: #F70000;
    color: white;
}
.youtube:hover{
    background-color: #F70000;
    color: white;
}
.Source
{
    background-color: #28a745;
    color: white;
}
.Source:hover{
    background-color: #28a745;
    color: white;
}
li
{
    padding: .25rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    list-style: none;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: .25rem;
}